# **Trabajo Práctico N°1**

## Integrantes: Ana Rius, Fátima Fernández, Santiago Paz

### Importación de librerías y carga de datos

In [1]:
import pandas as pd

df = pd.read_csv("sube-2023.csv")

### **Ejercicio 1 (a)**
#### Visualización del tipo de dato de cada columna y transformación de la columna ``DIA_TRANSPORTE`` a tipo ``datetime``

In [2]:
# Visualizamos los tipos de datos de cada columna, vemos cuántos hay, y si hay valores nulos

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 472291 entries, 0 to 472290
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   DIA_TRANSPORTE   472291 non-null  object
 1   NOMBRE_EMPRESA   472291 non-null  object
 2   LINEA            472291 non-null  object
 3   AMBA             472291 non-null  object
 4   TIPO_TRANSPORTE  472291 non-null  object
 5   JURISDICCION     469742 non-null  object
 6   PROVINCIA        469720 non-null  object
 7   MUNICIPIO        469720 non-null  object
 8   CANTIDAD         472291 non-null  int64
 9   DATO_PRELIMINAR  472291 non-null  object
dtypes: int64(1), object(9)
memory usage: 36.0+ MB
None

In [3]:
# Transformamos la columna DIA_TRANSPORTE a tipo datetime

df["DIA_TRANSPORTE"] = pd.to_datetime(df["DIA_TRANSPORTE"])

# Verificamos que la columna DIA_TRANSPORTE se haya transformado a tipo datetime, imprimiendo todos los tipos de datos

print(df.dtypes)

DIA_TRANSPORTE     datetime64[ns]
NOMBRE_EMPRESA             object
LINEA                      object
AMBA                       object
TIPO_TRANSPORTE            object
JURISDICCION               object
PROVINCIA                  object
MUNICIPIO                  object
CANTIDAD                    int64
DATO_PRELIMINAR            object
dtype: object

### **Ejercicio 1 (b)**

#### Agregamos tres columnas al DataFrame: ``FECHA_DIA``, ``FECHA_ORDINAL`` y ``FECHA_MES``

In [4]:
# Agregamos la columna "FECHA_DIA", que indica el dia de la semana de la columna DIA_TRANSPORTE
df["FECHA_DIA"] = df["DIA_TRANSPORTE"].dt.day_name()

# Agregamos la columna "FECHA_ORDINAL", que indica el ordinal correspondiente de la columna DIA_TRANSPORTE
df["FECHA_ORDINAL"] = df["DIA_TRANSPORTE"].dt.dayofyear

# Agregamos la columna "FECHA_MES", que indica el mes correspondiente de la columna DIA_TRANSPORTE
df["FECHA_MES"] = df["DIA_TRANSPORTE"].dt.month

df.head()

,DIA_TRANSPORTE,NOMBRE_EMPRESA,LINEA,AMBA,TIPO_TRANSPORTE,JURISDICCION,PROVINCIA,MUNICIPIO,CANTIDAD,DATO_PRELIMINAR,FECHA_DIA,FECHA_ORDINAL,FECHA_MES
0,2023-01-01,MUNICIPALIDAD DE MERCEDES PROVINCIA DE BUENOS ...,1,SI,COLECTIVO,MUNICIPAL,BUENOS AIRES,MERCEDES,61,NO,Sunday,1,1
1,2023-01-01,MUNICIPALIDAD DE MERCEDES PROVINCIA DE BUENOS ...,2B,SI,COLECTIVO,MUNICIPAL,BUENOS AIRES,MERCEDES,11,NO,Sunday,1,1
2,2023-01-01,EMPRESA BATAN S.A.,BS_AS_LINEA 715M,NO,COLECTIVO,MUNICIPAL,BUENOS AIRES,GENERAL PUEYRREDON,1707,NO,Sunday,1,1
3,2023-01-01,COMPAÑIA DE TRANSPORTE VECINAL S.A.,BS_AS_LINEA_326,SI,COLECTIVO,PROVINCIAL,BUENOS AIRES,SN,438,NO,Sunday,1,1
4,2023-01-01,EMPRESA DE TRANSPORTE PERALTA RAMOS SACI,BS_AS_LINEA_512,NO,COLECTIVO,MUNICIPAL,BUENOS AIRES,GENERAL PUEYRREDON,1189,NO,Sunday,1,1

### **Ejercicio 2**

#### Creamos el DataFrame ``datos_amba``, el cual solo debe tener datos de AMBA

In [5]:
# Verifiquemos qué valores posibles tiene la columna "AMBA"
print("Valores posibles de la columna AMBA: ", df["AMBA"].unique())

# Luego, nos quedamos con las filas que tengan el valor "SI" en la columna "AMBA" y "NO" en la columna "DATOS PRELIMINARES"
datos_amba = df[df["AMBA"] == "SI" ]
datos_amba = datos_amba[datos_amba["DATO_PRELIMINAR"] == "NO"]

# Eliminamos las columnas "AMBA", "PROVINCIA", "MUNICIPIO", "DATO_PRELIMINAR" y "NOMBRE_EMPRESA"
datos_amba = datos_amba.drop(columns=["AMBA", "PROVINCIA", "MUNICIPIO", "DATO_PRELIMINAR", "NOMBRE_EMPRESA"])

# Cambiamos el orden de las columnas
datos_amba = datos_amba.reindex([
    "DIA_TRANSPORTE",
    "FECHA_DIA",
    "FECHA_MES",
    "FECHA_ORDINAL",
    "JURISDICCION",
    "LINEA",
    "CANTIDAD",
    "TIPO_TRANSPORTE"], axis=1)

# Renombramos las columnas tal como pide la consigna
datos_amba = datos_amba.rename(
    columns={
        "DIA_TRANSPORTE": "fecha",
        "FECHA_DIA": "fecha_dia",
        "FECHA_MES": "fecha_mes",
        "FECHA_ORDINAL": "fecha_ordinal",
        "JURISDICCION": "jurisdiccion",
        "LINEA": "linea",
        "CANTIDAD": "pasajeros",
        "TIPO_TRANSPORTE": "tipo_transporte"
    })

datos_amba.head()

Valores posibles de la columna AMBA:  ['SI' 'NO']

,fecha,fecha_dia,fecha_mes,fecha_ordinal,jurisdiccion,linea,pasajeros,tipo_transporte
0,2023-01-01,Sunday,1,1,MUNICIPAL,1,61,COLECTIVO
1,2023-01-01,Sunday,1,1,MUNICIPAL,2B,11,COLECTIVO
3,2023-01-01,Sunday,1,1,PROVINCIAL,BS_AS_LINEA_326,438,COLECTIVO
5,2023-01-01,Sunday,1,1,MUNICIPAL,BS_AS_LINEA_514,3067,COLECTIVO
6,2023-01-01,Sunday,1,1,MUNICIPAL,BS_AS_LINEA_522,332,COLECTIVO

### **Ejercicio 3 (a)**

#### Calculamos la proporción de la cantidad anual de pasajeros que viajan en cada medio de transporte

In [6]:
cantidad_pasajeros = {
    "colectivo": datos_amba[datos_amba["tipo_transporte"] == "COLECTIVO"].pasajeros.sum(),
    "tren":  datos_amba[datos_amba["tipo_transporte"] == "TREN"].pasajeros.sum(),
    "subte":  datos_amba[datos_amba["tipo_transporte"] == "SUBTE"].pasajeros.sum(),
}

total_pasajeros = datos_amba.pasajeros.sum()

for transporte in cantidad_pasajeros:
    print(f"Proporcion de la cantidad anual de pasajeros de {transporte}: {cantidad_pasajeros[transporte] / total_pasajeros}")

Proporcion de la cantidad anual de pasajeros de colectivo: 0.8376448752526633
Proporcion de la cantidad anual de pasajeros de tren: 0.09425812118596766
Proporcion de la cantidad anual de pasajeros de subte: 0.06809700356136905

### **Ejercicio 3 (b)**

#### Calculamos la tupla (mes, línea de subte) donde viajó la mayor cantidad de pasajeros

In [9]:
# Filtramos los datos de amba que corresponden a SUBTE
datos_subte = datos_amba[datos_amba["tipo_transporte"] == "SUBTE"]

# Agrupamos los datos por mes y por linea de subte, sumando la cantidad de pasajeros
datos_subte = datos_subte.groupby(["fecha_mes", "linea"]).pasajeros.sum().sort_values(ascending=False)

# Imprimimos el mes y la linea de subte con mayor cantidad de pasajeros
print(datos.idxmax())

(8, 'LINEA_B')