# Pr치ctica 4
## Regresi칩n Lineal

In [31]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import seaborn.objects as so

from gapminder import gapminder

from sklearn.metrics import mean_squared_error, r2_score    # Medidas de desempe침o

### Ejercicio 1.a

Implementar una funci칩n que calcule la pendiente y la ordenada al origen de la recta de
regresi칩n lineal con las f칩rmulas vistas en clase.

In [11]:
# Funci칩n que calcula la pendiente y ordenada:

def coefs_rfl(x,y):
    promedio_x = np.mean(x)
    promedio_y = np.mean(y)
    beta_1 = (np.sum((x - promedio_x) * (y-promedio_y)) / np.sum((x - promedio_x) ** 2))
    beta_0 = promedio_y - beta_1 * promedio_x

    return beta_1, beta_0

# Hagamos un par de pruebas, creamos una serie "x", mientras que a la variable "y" la creamos a partir
# de multiplicar el valor de "x" por 7, sumarle la ordenada 3 y agregar un poco de error con np.random.rand(3)

x = pd.Series([1,2,3])
y = 7 * x + 3 + np.random.rand(3)

# Imprimimos los valores, y vemos que se asemejan a los correctos, 7 y 3

print(coefs_rfl(x, y))

(7.0016792404445365, 3.093088704142378)

### Ejercicio 1.b

Con el dataset ``gapminder``, utilizar la funci칩n implementada en el item anterior para
realizar una regresi칩n lineal entre los a침os y la expectiva de vida en Argentina. Comparar
los coeficientes con los obtenidos por ``scikit-learn``.

In [12]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [45]:
# Esto no es del ejercicio en s칤, pero permite calcular el tiempo que lleva realizar determinadas acciones.
# Lo hicimos para comprobar que utilizar .query en el dataset es mucho m치s lento que acceder haciendo
# gapminder[gapminder.country=="Argentina"]

%%timeit
gapminder.query('country=="Argentina"')

UsageError: Line magic function `%%timeit` not found.

In [46]:
%%timeit
gapminder[gapminder.country=="Argentina"]

120 췃s 췀 1.09 췃s per loop (mean 췀 std. dev. of 7 runs, 10,000 loops each)

In [37]:
from sklearn import linear_model    # Herramientas de modelos lineales

# Obtengo los datos de Argentina
datos_argentina = gapminder[gapminder.country=="Argentina"]

# Llamamos a la funci칩n que cree previamente
print(coefs_rfl(datos_argentina["year"], datos_argentina["lifeExp"]))

# Hacemos lo mismo utilizando scikit-learn
modelo = linear_model.LinearRegression()
modelo.fit(datos_argentina[["year"]], datos_argentina.lifeExp)

beta_1 = modelo.coef_
beta_0 = modelo.intercept_

print(beta_1 , beta_0)

# 游녢 Vemos que los valores calculados son iguales

(0.2317083916083916, -389.6063445221445)
[0.23170839] -389.6063445221444

In [44]:
# Calculemos el error cuadratico medio y el score r2:

y_pred = modelo.predict(datos_argentina[["year"]])

print(mean_squared_error(datos_argentina[['lifeExp']], y_pred))
print(r2_score(datos_argentina[['lifeExp']], y_pred))

0.07120290957653445
0.9955680955772934

### Ejercicio 2

In [48]:
datos = pd.read_csv("../../Datos/inmuebles.csv")
datos.head()

   superficie      precio    zona
0       110.0  454.425690  Zona 2
1       109.0  383.004114  Zona 2
2       101.0  437.362638  Zona 2
3        58.0  304.392486  Zona 3
4       129.0  620.027722  Zona 3